*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}

h1{
  font-size: 4rem;
  margin-bottom: 4rem;
}

h2{
margin-top: 33px;
font-size: 2rem;

}

.main-container{
  text-align: center;
  

}

.game-container{
  margin-top: 10px;
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid black;


}

.square{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 4rem;
}

.news{
  display: flex;
  justify-content: space-between;

  height: 100px;

}

.game{
  margin-top: 25px;
  height: 50px;
  width: 200px;
}